/* Header style*/
.bg-primary {
    background-color: rgba(0, 163, 224, 1) !important;
    opacity: 1;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.ok {
    background-color: white !important;
    color: black;
    text-align: center;
    justify-content: space-around !important;
}

@media (max-width:992px) {
    .ok {
        background-color: rgba(0, 163, 224, 1) !important;
    }

    .nav-link {
        color: white !important;
    }

    .nav-link:hover {
        color: rgba(32, 96, 61, 1) !important;
    }

}

.nav-link {
    color: black;
    text-transform: lowercase;
    /* Convert all text to lowercase */
}

.nav-link::first-letter {
    text-transform: uppercase;
    /* Capitalize the first letter */
}

.nav-link:hover {
    color: rgba(32, 96, 61, 1);
    border-bottom: solid rgba(32, 96, 61, 1);

}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    color: rgb(246, 216, 63) !important;
    border-bottom: 2px solid rgba(250, 210, 1, 0.8);
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.active::first-letter {
    text-transform: uppercase !important;
}

.active:hover {
    color: rgba(32, 96, 61, 1) !important;
    border-bottom: solid rgba(32, 96, 61, 1);
}

#navbarSupportedContent {
    align-items: center;
    justify-content: center;
}


/* Sectors.html style */

.sect {
    background-image: linear-gradient(to bottom, rgba(250, 210, 1, 0.8), rgba(250, 210, 1, 0.5), rgba(250, 210, 1, 0.1));
}

.h-100 {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.h-100:hover {
    transform: scale(0.98);
    transition: 300ms;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    position: relative;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    flex-grow: 1;
}

.card-text.show {
    height: auto;
    /* Expand height to show card text when the .show class is added */
    transition: height 1s ease-in-out;
}

.card:hover .card-text {
    height: auto;
    /* Expand height to show card text when hovering over the card */
}

.card:hover .material-symbols-outlined {
    display: none;
}

.card-title {
    align-items: center;
    text-align: center;
    justify-content: center;
}


/* Home page style*/

.hero-section {
    padding: 7%;
}

.clk {
    background-color: rgba(32, 96, 61, 1);
    border: none;
}

.clk:hover {
    background-color: rgba(0, 163, 224, 1);
}

@media (max-width:900px) {
    .col-lg-3 {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.erc {
    flex-direction: row;
}

.home {
    background-image: linear-gradient(to bottom, rgba(250, 210, 1, 0.7), rgba(250, 210, 1, 0.4), rgba(250, 210, 1, 0.5));
}

/* News page style*/

.bck {
    background-color: rgba(32, 96, 61, 1) !important;
    z-index: 1;
}


/* faq */

.faq {
    background-image: linear-gradient(to bottom, rgba(0, 163, 224, 0.8), rgba(0, 163, 224, 0.5), rgba(0, 163, 224, 0.1));
    max-width: 100%;
}

.faqmain {
    width: 100%;
    padding: 0px;

}

.faqcontainer {
    padding: 30px;
    justify-content: center;
    text-align: center;
    ;
}

.faqmore {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.faqmorecontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 0 10px;
}

